<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
    <title>Stats</title>
</head>
<body>
    <div class="toast toast-primary" id="toast" style="display: none;">
        <button id="toastButton" class="btn btn-clear float-right"></button>
            <span id="toastMessage"></span>
    </div>
    <form action="/stats" method="post">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon addon-lg">Time Span</span>
                <input type="date" class="form-input input-lg" id="startDate" name="startDate", value="{{ start_date }}">
                <input type="date" class="form-input input-lg" id="endDate" name="endDate", value="{{ end_date }}">
                <input type="hidden" name="token" value="{{ token }}">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary btn-lg" id="submitBtn">
                </span>
            </div>
        </div>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Pages</th>
                <th>Quota</th>
                <th>Paid Quota</th>
                <th>Quantity</th>
                <th>Adjust</th>
            </tr>
        </thead>
        {% if stats is not none %}
        <tbody id="statsTableBody">
            {% for stat in stats %}
            <tr>
                <td>{{ stat.name }}</td>
                <td>{{ stat.pages_printed }}</td>
                <td>{{ stat.quota }}</td>
                <td>{{ stat.paid_quota }}</td>
                <form action="/adjust_quota" method="post">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="user_id" value="{{ stat.user_id }}">
                    <td><input type="number" name="quantity" class="form-input"></td>
                    <td><input type="submit" class="btn btn-primary"></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
        {% endif %}
    <div class="modal" id="modal">
    <a href="#close" onclick="closeModal()" class="modal-overlay" aria-label="Close"></a>
    <div class="modal-container">
        <div class="modal-header">
        <a id="closeSettings" onclick="closeModal()" class="btn btn-clear float-right" aria-label="Close"></a>
        <div class="modal-title h5">Printer Portal Settings</div>
        </div>
        <div class="modal-body">
        <div class="content">
            <form action="./update_settings" method="post">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="form-group">
                    <label class="form-label" for="monthlyQuota">Monthly Quota</label>
                    <input class="form-input" type="number" id="monthlyQuota" name="quota" placeholder="Quota" value="{{ monthly_quota }}">
                </div>
                <div class="form-group">
                    <label class="form-label" for="maxCopies">Max Copies</label>
                    <input class="form-input" type="number" id="maxCopies" name="max_copies" placeholder="Max Copies" value="{{ max_copies }}">
                </div>
                <span class="input-group-btn">
                    
                    <input type="submit" class="btn btn-primary btn-lg">

                </span>
            </form>
        </div>
        </div>
        <!-- <div class="modal-footer">
        ...
        </div> -->
    </div>
    </div>
    <button onclick="openModal()" style="position: fixed; bottom:1em;left:1em;" class="btn btn-primary btn-lg btn-action settings"><i class="icon icon-more-horiz"></i> </button>
</body>

<script defer>
modal = document.getElementById("modal")

document.getElementById("toastButton").addEventListener("click", function() {
    document.getElementById("toast").style.display = "none";
});

function closeModal(){
    modal.classList.remove("active")
}
function openModal(){
    modal.classList.add("active")
}

{% if message is not none %}
    document.getElementById("toastMessage").textContent = "{{ message }}";
    document.getElementById("toast").style.display = "block";
{% endif %}

</script>

</html>